[Desktop Entry]
Exec=gmidimonitor --jack
Icon=gmidimonitor
Terminal=false
Type=Application
Categories=Application;AudioVideo;Audio;Multimedia;

Name=GMidiMonitor JACK
Comment=View JACK MIDI events
